<ul>
{{#each burger_data }}
{{#unless this.good}}
<li>
    {{ this.burger_name }}
    <button type="submit" class="burger_id" type="text" value={{this.id}}>Devour it</button>
</li>
{{/unless}}
{{/each}}
</ul>





