body {
    background-color: orange;
}

h1 {
    padding: 10px;
}

button {
    background-color: blue;
    border-radius: 8px;
    color: white;
    padding: 6px;
    margin-bottom: 15px;
}

.btn {
    text-align: center;
}


textarea {
    text-align: center;
}

img {
    padding: 20px;
}

.d {
    text-align: center;
    padding: 10px;
}

.c {
    text-align: center;
}