
<div class="burgerBlock">
	<p class="nameText">{{name}}</p> 
		<button class="change-good" data-id="{{id}}" data-newgood="{{good}}">
		{{#if good}}No Thank You{{else}}It's Great{{/if}}
		</button>
</div>