
<div class="burgerBlock">
	<p class="nameText">{{name}}</p> 
		<button class="change-good" data-id="{{id}}" data-newgood="{{good}}">
		{{#if good}}It's Great{{else}}No Thank You{{/if}}
		</button>
</div>